# Get week number
alias week='date +%V'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flush="dscacheutil -flushcache && killall -HUP mDNSResponder"

# OS X has no `md5sum`, so use `md5` as a fallback
command -v md5sum > /dev/null || alias md5sum="md5"

# OS X has no `sha1sum`, so use `shasum` as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Hide/show all desktop icons (useful when presenting)
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Lock the screen (when going AFK)
alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend"

# Reload the shell (i.e. invoke as a login shell)
alias reload="exec $SHELL -l"

alias mp3="youtube-dl --prefer-ffmpeg --keep-video --audio-quality 0 --audio-format 'mp3' --extract-audio -o '~/Dropbox/rythm/%(title)s-%(id)s.%(ext)s' "

alias update-master="g co master && g pull && g co - && g rebase master"
alias update-develop="g co develop && g pull && g co - && g rebase develop"

alias ubuntucli="docker run -i -t --rm ubuntu /bin/bash"
alias busyboxcli="docker run -it --rm busybox"

alias postgres="postgres -D /usr/local/var/postgres"

alias unlockusbarmory="ssh -t usbarmory@192.168.2.2 'sudo cryptsetup luksOpen /dev/mmcblk0p2 data && sudo mount /dev/mapper/data /data'"
alias lockusbarmory="ssh -t usbarmory@192.168.2.2 'sudo umount /data && sudo cryptsetup luksClose data'"
