!.keep
!**/*.keep

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Secret files
.secrets

# Vim
.vim/.netrwhist
.vim/autoload
.vim/bundle
.vim/swaps
