"*":
  editor:
    fontSize: 13
    showInvisibles: true
    showIndentGuide: true
    preferredLineLength: 120
    invisibles: {}
  core:
    disabledPackages: [
      "metrics"
      "editorconfig"
    ]
  "exception-reporting":
    userId: "2f6c1fe2-cfdb-87de-4712-11b4b505fed4"
  welcome:
    showOnStartup: false
  "atom-beautify":
    _analyticsUserId: "1d4703af-c0bf-4e61-8894-f8865aaabf2b"
  linter:
    showErrorPanel: false
  tabs:
    showIcons: true
  "tree-view": {}
".git-rebase.text":
  editor:
    preferredLineLength: 120
".git-config.source":
  editor:
    preferredLineLength: 120
".git-commit.text":
  editor:
    preferredLineLength: 120
".ini.source":
  editor:
    preferredLineLength: 120
"linter-rubocop":
  executablePath: "/usr/local/var/rbenv/versions/2.2.0/bin/rubocop"
