"*":
  Zen: {}
  "atom-beautify":
    analytics: false
  core:
    disabledPackages: [
      "metrics"
      "editorconfig"
      "linter-rubocop"
      "linter-sass-lint"
    ]
  editor:
    fontSize: 13
    invisibles: {}
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "2f6c1fe2-cfdb-87de-4712-11b4b505fed4"
  linter:
    showErrorPanel: false
  tabs:
    showIcons: true
  "tree-view": {}
  welcome:
    showOnStartup: false
".git-commit.text":
  editor:
    preferredLineLength: 120
".git-config.source":
  editor:
    preferredLineLength: 120
".git-rebase.text":
  editor:
    preferredLineLength: 120
".haml.text":
  editor:
    preferredLineLength: 120
".hamlc.text":
  editor:
    preferredLineLength: 120
".ini.source":
  editor:
    preferredLineLength: 120
"linter-rubocop":
  executablePath: "/usr/local/var/rbenv/versions/2.2.0/bin/rubocop"
