# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
'.source.js':
  'jquery ready':
    'prefix': 'ready'
    'body': """
      $("${1:selector}").ready(function(){
        $2
      });
    """
  'self executing':
    'prefix': 'load'
    'body': """
      $(function() {
        $1
      });
      """
  'extend':
    'prefix': 'extend'
    'body': """
      Object.assign({}, $1.defaults, options || {})
      """
  'log':
    'prefix': 'log'
    'body': 'console.log( $1 )$0'
'.source.go':
  'go boilderplate':
    'prefix': 'start'
    'body': """
      package main

      import (
      	"fmt"
      )

      func main() {
      	fmt.Printf("Start")
      }
    """
  'log':
    'prefix': 'log'
    'body': """
      log.Printf("Log Entry: %v\\n", $1)
    """

'.source.rb':
  'pry':
    'prefix': 'pry'
    'body': """
      require 'pry'; binding.pry
    """
